.component {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    &.new {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0);
    }
}

.ticker,
.tag {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
}

.header {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}
